<div class="container"> 
		<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-4 "> 
		<div class="panel panel-info"> 
			<div class="panel-heading"> 
				<div class="panel-title"> Sign Up </div> 
				<div class="signin"> 
						<label routerLink="/login">Sign In</label> 
				</div> 
			</div> 
			<div class="panel-body"> 
				<form [formGroup]="regiForm" class="form-horizontal">  
					<div class="form-group"> 
						<label for="email" class="col-md-3 control-label">Email</label>
					 	<div class="col-md-9"> 
					 		<input type="text" formControlName="email" class="form-control" name="email" placeholder="Email Address"> 
					 	</div> 
                     </div>
                     <div class="form-group"> 
						<label for="username" class="col-md-3 control-label">Username</label>
					 	<div class="col-md-9"> 
					 		<input type="text" formControlName="userName" class="form-control" name="email" placeholder="Username"> 
					 	</div> 
					 </div> 
					 <div class="form-group"> 
					 	<label for="firstname" class="col-md-3 control-label">First Name</label> 
					 	<div class="col-md-9"> 
					 		<input type="text" formControlName="firstName" class="form-control" name="firstname" placeholder="First Name"> 
					 	</div> 
					 </div> 
					 <div class="form-group"> 
					 	<label for="lastname" class="col-md-3 control-label">Last Name</label> 
					 	<div class="col-md-9"> 
					 		<input type="text" formControlName="lastName" class="form-control" name="lastname" placeholder="Last Name"> 
					 	</div> 
					 </div> 
					 <div class="form-group"> 
					 	<label for="password" class="col-md-3 control-label">Password</label> 
					 	<div class="col-md-9"> 
					 		<input type="password" formControlName="password" class="form-control" name="passwd" placeholder="Password"> 
					 	</div> 
                     </div>
                     <div class="form-group"> 
						<label for="confirmPassword" class="col-md-3 control-label">Confirm Password</label>
					 	<div class="col-md-9"> 
					 		<input type="password" formControlName="confirmPassword" class="form-control" name="email" placeholder="Type password again"> 
					 	</div> 
					 </div> 
					 <div class="form-group"> 
					 	<div class="col-md-offset-3 col-md-9"> 
					 		<button type="submit" class="btn btn-info" (click)="Register()"> Sign Up </button>
					 	</div> 
					 </div> 
				</form> 
			</div> 
		</div> 
	</div> 
</div> 