.loginbox{
	margin-top:50px;
}
.panel-pad{
	padding-top:30px;
}
.action{
	margin-top:10px;
}
.no-acc{
	border-top: 1px solid#888; padding-top:15px; font-size:85%;
}
input{
    margin-bottom: 15px;
}


