
.nav a{
  color:black;
}
.toggleNotification {
    background: linear-gradient(to bottom, whitesmoke,  rgb(209, 235, 232));
    /* background: whitesmoke; */
    color: rgb(0, 0, 0);
    position: fixed;
    top: 110px;
    padding-bottom: 30px;
    right: 0;
    width: 23.5%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 1;
}
.newNotify {
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
}
.notifyProfile{
    height: 34px;
    width: 34px;
    margin-left: 10px;
}
