<app-navbar></app-navbar>

<div class= "container">
  <h2>My Blogs</h2>
  <div *ngIf="sizeOfMyPost > 0 ; else noMyPOst">
  <div class = "displayPost panel panel-primary" *ngFor = "let post of displayMyPost">
      <form [formGroup]="updatePost">
          <div class="panel-heading">
            <div class="panel-title row">
              <div *ngFor = "let user of usersProfile">
                  <img class = "logo" *ngIf = "post.userId==user._id" [src] = GetImageUrl(user.image)/>
              </div>
              <label class="col"  style="margin-top: 30px"><em>{{ post.title | titlecase}}</em></label>
              <small class="col"  style="margin-top: 30px">Posted on {{ post.createdAt | date:'MMM dd, yyyy'}} </small>
            </div>
          </div>
          <p *ngIf="post?._id != null" class = "description">{{post.description | slice:0:234 }}...
              <a [routerLink]="['/personalBlogs/myBlog', post._id]">Read More</a>
          </p>
      </form>
    </div>
  </div>
  <ng-template #noMyPOst>
    <br>
    <h6>No Blog Uploaded By You.</h6>
  </ng-template>
</div>
