.profile {
  margin: 20px 0;
}
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.displayPost{
  margin: 100px;
}
.panel{
    width: 650px;
    margin: 50px auto;
}
.logo{
  height: 50px;
  width: 50px;
  margin: 20px;
}
.info {
    display : block;
    margin-top: 30px;
    margin-left : 120px;
}
.description{
    text-align: justify;
    margin: 0px 20px;
    margin-bottom: 20px;
}
