.description {
    text-align: justify;
}

button {
    margin: 10px;
    float: right;
}

.showCommentBox {
    margin: 30px;
}

.showReplyBox {
  margin: 10px 40px;
}
.logo {
    height: 70px;
    width: 70px;
}

.info {
    padding-left: 690px;
}

.title {
    margin-top: 30px;
    font-size: 16px;
    padding-left: 100px;
}
.toggle-emoji svg {
    width: 28px;
    height: 28px;
  }
