<div class="profile-sidebar" *ngIf="profile">
    <div>
      <img *ngIf="url" [src]="url" class="img-responsive" alt="preview" />
    </div>
    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        {{ profile.firstName }} {{ profile.lastName }}
      </div>
      <div class="profile-usertitle-job">
        {{ profile.email }}
      </div>
    </div>
    <div class="profile-userbuttons" *ngIf="currentUserId !== id">
      <button
        *ngIf="!friendRequestSent && !friends && !acceptRequest"
        type="button"
        class="btn btn-success btn-sm"
        (click)="sendRequestButton(profile._id)"
      >
        Follow
      </button>
      <button
        *ngIf="friendRequestSent && !friends"
        type="button"
        class="btn btn-danger btn-sm"
        (click)="CancelFriendRequest(profile._id)"
      >
        Cancel Request
      </button>
      <button *ngIf="friends" type="button" class="btn btn-success btn-sm">
        Following
      </button>
      <div *ngIf="acceptRequest && !friends">
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="AcceptFriendRequest(profile._id, profile.userName)"
        >
          Accept
        </button>
        <button
          type="button"
          class="btn btn-success btn-sm"
          (click)="DeleteFriendRequest(profile._id)"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="profile-usermenu">
      <ul class="nav">
        <li *ngIf="currentUserId === id" class="active">
          <a routerLink = '/publicProfile/editProfile' routerLinkActive="router-link-active" >
            <i class="glyphicon glyphicon-user"></i>
            Account Settings
          </a>
        </li>
        <!-- <li>
          <a routerLink="/home">
          <i class="glyphicon glyphicon-home"></i>
          Home </a>
        </li> -->
        <!-- <li>
              <a href="#" target="_blank">
              <i class="glyphicon glyphicon-ok"></i>
              Tasks </a>
            </li>
            <li>
              <a href="#">
              <i class="glyphicon glyphicon-flag"></i>
              Help </a>
            </li> -->
      </ul>
    </div>
  </div>
