<p>forgot-password works!</p>
<div class="container">
    <h4 class="">
      Forgot your password?
    </h4>
    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
      <fieldset>
        <span class="help-block">
          To reset your password, enter your email below and submit.
          <br />
          An email will be sent to you with instructions about how to complete the
          process.
        </span>
        <div *ngIf="!mailSent">
          <div class="form-group">
            <input
              class="form-control"
              placeholder="Email"
              name="email"
              type="email"
              required=""
              #email
            />
          </div>
          <button
            type="button"
            class="btn btn-primary btn-block"
            (click)="sendMail(this.email.value)"
          >
            Continue
          </button>
        </div>

        <div *ngIf="mailSent">
          <div class="app-loading">
            <svg class="spinner" viewBox="25 25 50 50">
              <circle
                class="path"
                cx="50"
                cy="50"
                r="20"
                fill="none"
                stroke-width="2"
                stroke-miterlimit="10"
              />
            </svg>
          </div>
        <br>
          <!-- <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; -->
          {{ message }}
        </div>
        <p class="help-block">
          <a
            class="text-muted"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            id="acceso"
            ><small>Account Access</small></a
          >
        </p>
      </fieldset>
    </form>
  </div>
