<nav class="navbar navbar-expand-md navbar-light fixed-top" >
    <div class="navbar-header navbar-text">
        <h2> Blog - Demo </h2>
        <a class="navbar-brand">Welcome {{getCurrentUserName | titlecase}}</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto navbar-right ">
            <li class="nav-item ">
                <a class="nav-link" (click)= "DisplayPostBox()">{{newBlogLink}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="clickedMyPost()">{{labelName}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="UsersList()">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/editProfile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="Logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class= "container" *ngIf = "displayAddPost">
    <div class= "post">
        <div class= "col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 border border-primary rounded ">
            <button type="button" class="close" (click)="displayAddPost = false; newBlogLink = 'New Blog'">
                <span aria-hidden="true">&times;</span>
            </button>
            <form [formGroup]="postForm">
                <div>
					<label *ngIf = "incorrectPost">Enter Valid Details..</label>
				</div>
                <div class="form-group" >
                    <label for="exampleInputEmail1">Title</label>
                    <input name="title" type="text" formControlName="title" class="form-control" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <textarea name="description" formControlName="description" rows="4" class="form-control" placeholder="Your post..!!"></textarea>
                </div>
                <button type="button" class="btn btn-primary" (click) = "AddPost()">Post</button>
            </form>
        </div>
    </div>
</div>

<div class= "container" *ngIf = "showAllPost">
    <h2>All Blogs</h2>
    <mat-accordion>
        <div class = "displayPost panel panel-primary" *ngFor = "let post of postList; index as i">
            <form>
                <mat-expansion-panel [expanded]="panelOpenState[i]" (closed)="panelOpenState[i] = false;
                displayComment[i] = false; dispalyReplyBox[j] = false; commentClicked = false; dispalyReplyBox[j] =false"
                (open)="panelOpenState[i] = true; commentClicked = false" >
                    <mat-expansion-panel-header>
                        <div class="panel-heading row clearfix">
                            <div *ngFor = "let user of usersProfile; index as j" class="panel-title pull-left">
                                <img class = "logo" *ngIf = "post.userId==user._id" [src] = GetImageUrl(user.image)/>
                            </div>
                            <label class="panel-title title col-lg-2" ><em>{{ post.title | titlecase}}</em></label>
                            <small class="info col-lg-5" >Posted by {{post.userName | titlecase}} on {{ post.createdAt | date:'MMM dd, yyyy'}} </small>
                        </div>
                    </mat-expansion-panel-header>
                    <p class = "description" cols="80" rows="4">{{post.description}}</p>
                    <div class="comment panel-footer">
                        <button type="button" class="btn btn-sm btn-primary" (click)="ShowCommentBox(post._id,i)">Show Comments</button>
                    </div>
                    <div *ngIf = "displayComment[i]" class="showCommentBox">
                        <div  *ngIf = "post.comments.length > 0; else noComments" >
                            <div *ngFor="let item of post.comments; index as j" class="row">
                                <div class="col-lg-9">
                                    <span><strong>{{item.commenterName | titlecase}} : </strong> {{item.content}}</span>
                                </div>
                                <a (click)="openReplyText(j)" style="cursor: pointer;">Show Replies</a>

                                <div *ngIf="dispalyReplyBox[j]" class="showReplyBox">

                                        <div  *ngIf = "post.comments[j].replies.length > 0; else noComments" >
                                                <div *ngFor="let reply of post.comments[j].replies; index as k" class="row">
                                                    <div class="col-sm-12">
                                                        <span ><strong>{{reply.commenterName | titlecase}} : </strong> {{reply.content}}</span>
                                                    </div>
                                                </div>
                                        </div>
                                        <ng-template #noComments>No replies.</ng-template>
                                        <br>
                                        <i class="material-icons" style="cursor: pointer;" (click) = "openReplyForm(j)">reply</i>
                                    <form [formGroup] = "replyForm" *ngIf = "replyClicked[j]">
                                        <input type="text" class="form-control" formControlName="content"/>
                                        
                                        <button mat-raised-button type="submit" (click)="addReply(post._id, item._id, j, i)" (click)="$event.stopPropagation();">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ng-template #noComments>No comments. Be the first one to comment.</ng-template>
                        <br>
                        <i class="material-icons" style="cursor: pointer;" (click) = "openCommentForm()">sms</i>
                        <form [formGroup]="commentForm" *ngIf = "commentClicked">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="content"
                                    placeholder="Start Typing here.." >
                                </div>
                                <div class="col-sm-2">
                                    <button mat-raised-button type="submit" class="btn btn-sm btn-success pull-right"
                                    (click)="PostComment(post._id,i)" (click)="$event.stopPropagation();"
                                    [disabled]="!commentForm.valid">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </mat-accordion>
</div>

<div class= "container" *ngIf = "showMyPost">
    <h2>My Blogs</h2>
    <mat-accordion>
    <div class = "displayPost panel panel-primary" *ngFor = "let post of displayMyPost; index as i">
        <form [formGroup]="updatePost">
                <mat-expansion-panel [expanded]="panelOpenState[i]" (closed)="panelOpenState[i] = false;
                displayUpdatedBlog[i] = false; displayComment[i] = false; displayOriginalBlog[i] = false;
                commentClicked = false; dispalyReplyBox[j] =false" (open)="panelOpenState[i] = true" >
                    <mat-expansion-panel-header>
                        <div class="panel-heading row clearfix">
                            <div *ngFor = "let user of usersProfile; index as j" class="panel-title pull-left">
                                <img class = "logo" *ngIf = "post.userId==user._id" [src] = GetImageUrl(user.image)/>
                            </div>
                            <label class="panel-title title col-lg-2" ><em>{{ post.title | titlecase}}</em></label>
                            <small class="info col-lg-4" >Posted on {{ post.createdAt | date:'MMM dd, yyyy'}} </small>   
                        </div>
                    </mat-expansion-panel-header>
                    <p *ngIf = "!displayOriginalBlog[i]" class = "description">{{post.description}}</p>
                    <textarea *ngIf = "displayUpdatedBlog[i]" class = "description form-control" formControlName = "description" [(ngModel)] = "post.description" rows="10" >{{post.description}}</textarea>
                    <div class="comment panel-footer">
                        <button type="button" class="btn btn-sm btn-primary" (click)="ShowCommentBox(post._id,i)">Show Comments</button>
                        <button type="button" class="btn btn-sm btn-primary" (click)="DeletePost(post._id)">Delete Post</button>
                        <button type="button" class="btn btn-sm btn-primary" (click)="UpdatePost(post._id,i)">Edit Post</button>
                    </div>
                    <div *ngIf = "displayComment[i]" class="showCommentBox">
                        <div  *ngIf = "post.comments.length > 0; else noComments" >
                            <div *ngFor="let item of post.comments; index as j" class="row">
                                <div class="col-lg-9">
                                    <span><strong>{{item.commenterName | titlecase}} : </strong> {{item.content}}</span>
                                </div>
                                <a (click)="openReplyText(j)" style="cursor: pointer;">Show Replies</a>
                                
                                <div *ngIf="dispalyReplyBox[j]" class="showReplyBox">
                                    <div  *ngIf = "post.comments[j].replies.length > 0; else noReply" >
                                        <div *ngFor="let reply of post.comments[j].replies; index as k" class="row">
                                            <div class="col-sm-12">
                                                <span ><strong>{{reply.commenterName | titlecase}} : </strong> {{reply.content}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <ng-template #noReply>No replies.</ng-template>
                                    <br>
                                    <i class="material-icons" style="cursor: pointer;" (click) = "openReplyForm(j)">reply</i>
                                    <form [formGroup] = "replyForm" *ngIf = "replyClicked[j]">
                                        <input type="text" class="form-control" formControlName="content"/>
                                        
                                        <button mat-raised-button type="submit" (click)="addReply(post._id, item._id, j, i)" (click)="$event.stopPropagation();">Send</button>
                                    </form>
                                </div>  
                            </div>
                        </div>
                        <ng-template #noComments>No comments. Be the first one to comment.</ng-template>
                        <br>
                        <i class="material-icons" style="cursor: pointer;" (click) = "openCommentForm()">sms</i>
                        <form [formGroup]="commentForm"  *ngIf = "commentClicked">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="content"
                                    placeholder="Start Typing here.." >
                                </div>
                                <div class="col-sm-2">
                                    <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                    (click)="PostComment(post._id,i)" (click)="$event.stopPropagation();"
                                    [disabled]="!commentForm.valid">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </form>
        </div>
    </mat-accordion>
</div>

<div class= "container" *ngIf = "showMyFriends">
    <h3>Search Friends</h3>
    <!-- <input type="text" name="searchfriend" placeholder="username">
    <input type="submit" value="search"><br> -->
    <div *ngIf = "newFriendRequest">
        <h3>Friend Requests</h3>
        <div class="col-md-8 reqColumn" *ngFor ="let new of newFriend">
            <div class="row">
                <img class="logo column" [src] = GetImageUrl(new.image) alt="Your Profile Picture" >
                <h5 class="column" style="margin-top: 35px ">{{new.firstName | titlecase}} {{new.lastName | titlecase}}</h5>
            </div>
            <div class="row" *ngIf = "acceptRequest[new._id]">
                <button class="column acceptRequest" >Accept</button>
                <button class="column acceptRequest" (click)="DeleteFriendRequest(new._id)">Delete</button>
            </div>
        </div>
    </div>
    <div class = "col-md-8 reqColumn" *ngFor = "let profile of usersInfo; index as i">
        <div class="list" *ngIf= "getCurrentUserId != profile._id">
            <div class="row">
                <img class="logo column" [src] = GetImageUrl(profile.image) alt="Your Profile Picture" >
                <h5 class="column" style="margin-top: 35px ">{{profile.firstName | titlecase}} {{profile.lastName | titlecase}}</h5>
            </div>
            <p *ngIf = "!acceptRequest[profile._id] && !friendRequestSent[profile._id]">
                <button class="sendRequest" (click)="sendRequest(profile._id)">Send Request</button>
            </p>
            <p *ngIf = "friendRequestSent[profile._id]">
                <button type="button" class="sendRequest">Friend Request Sent <br> Cancel??</button>
                </p>
            </div>
        <br>
    </div>
</div>
