.row,nav,button{
    margin: 10px;
}

.post{
    margin-top: 70px;
}

.displayPost{
    margin: 100px;
}
.comment{
    padding-top:15px;
    font-size:85%;
}
.panel{
    width: 600px;
    margin: 50px auto;
}

a:active {
    color: green;
    text-decoration: underline;
}
h2{
    text-align: center;
}
.logo {
    height: 50px;
    width: 50px;
    margin: 20px;
}
.content{
    margin: 20px;
    margin-left: 90px;
}
.description{
    text-align: justify;
}
textarea{
    margin-right: 20px;
}