.post{
    margin-top: 70px;
}
.displayPost{
    margin: 100px;
}
.comment{
    padding-top:15px;
    font-size:85%;
}
.panel{
    width: 650px;
    margin: 50px auto;
}

h2, h6{
    text-align: center;
}
.logo{
    height: 50px;
    width: 50px;
    margin: 20px;
}
.description{
    text-align: justify;
    margin: 0px 20px;
    margin-bottom: 20px;
}
textarea{
    margin-right: 20px;
}
button{
    margin: 10px;
    float: right;
}

.info {
    display : block;
    margin-top: 30px;
    margin-left : 120px;
}
.title {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    padding-left: 60px;
    font-size: 16px;
}
.updatedInfo{
    display : block;
    margin-top: 30px;
    margin-left : 170px;
}
input{
    margin: 10px;
}
.showCommentBox .showReplyBox{
    margin: 40px;
}
a{
    color: lightskyblue;
}
.list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 30px auto;
    text-align: center;
    font-family: arial;
}

button:hover, a:hover {
    opacity: 0.7;
}
agm-map {
    height: 300px;
}
.mention-highlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px;
    padding: 2px;
    z-index: 1;
    color: transparent;
    white-space: pre-wrap;
    border: 1px solid transparent;
    width: 100%;
}
.animateNotification {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}
.positive {
  color: white;
}

