<app-navbar></app-navbar>

<div class= "container" *ngIf = "showAllPost">
    <h2>All Blogs</h2>
    <div *ngIf="sizeOfAllPost > 0; else noAllPost">
    <div class = "displayPost panel panel-primary" *ngFor = "let post of postList">
        <form>
            <div class="panel-heading row clearfix">
                <div *ngFor = "let user of usersProfile" class="panel-title pull-left">
                    <img class = "logo" *ngIf = "post.userId==user._id" [src] = GetImageUrl(user.image)/>
                </div>
                <label class="panel-title title col-lg-2" ><em>{{ post.title | titlecase}}</em></label>
                <small class="info col-lg-5" >Posted by {{post.userName | titlecase}} on {{ post.createdAt | date:'MMM dd, yyyy'}} </small>
            </div>
            <p class = "description" cols="80" rows="4">{{post.description | slice:0:234 }}...
                <a [routerLink]="['/blog', post._id]">Show More</a>
            </p>
        </form>
    </div>
    </div>
    <ng-template #noAllPost>
        <br>
        <h6>No Blog Posted.</h6>
      </ng-template>
</div>
