.row,nav{
    margin: 10px;
}

.post{
    margin-top: 70px;
}

.displayPost{
    margin: 100px;
}
.comment{
    padding-top:15px;
    font-size:85%;
}

.well{
    height:100px;
    padding:15px;
}
.panel{
    width: 700px;
}
