/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~material-design-icons/iconfont/material-icons.css';
.material-icons {
font-family: 'Material Icons';
font-weight: normal;
font-style: normal;
font-size: 24px;
display: inline-block;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: ‘liga’;
}
body{
    background: transparent;
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

html, app-root {
    margin: 0;
    }